<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta name="viewimport" content="width=device-width" />
    <title>Авторизация</title>
    <link rel="stylesheet" asp-href-include="/lib/twitter-bootstrap/css/bootstrap.min.css" />
</head>
<body class="bg-light">
    @RenderBody()
</body>
</html>