@model StudentAchievements.Areas.Authorization.Models.Subject

<input type="hidden" asp-for="Id" />
<div class="form-group">
    <div><span asp-validation-for="Name" class="text-danger"></span></div>
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
</div>