@model AddDataViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Добавление данных";
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-departments-tab" data-toggle="tab" href="#nav-departments" role="tab" aria-controls="nav-departments" aria-selected="true">Факультеты</a>
        <a class="nav-link" id="nav-directions-tab" data-toggle="tab" href="#nav-directions" role="tab" aria-controls="nav-directions" aria-selected="false">Направления</a>
        <a class="nav-link" id="nav-groups-tab" data-toggle="tab" href="#nav-groups" role="tab" aria-controls="nav-groups" aria-selected="false">Группы</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-departments" role="tabpanel" aria-labelledby="nav-departments-tab">
        @await Html.PartialAsync("AddDepartments", Model.AddDepartmentsViewModel);
    </div>
    <div class="tab-pane fade" id="nav-directions" role="tabpanel" aria-labelledby="nav-directions-tab">
        @await Html.PartialAsync("AddDirections", Model.AddDirectionsViewModel);
    </div>
    <div class="tab-pane fade" id="nav-groups" role="tabpanel" aria-labelledby="nav-groups-tab">
        @await Html.PartialAsync("AddGroups", Model.AddGroupsViewModel);
    </div>
</div>