@model AddUsersViewModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Добавление пользователей";
}

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-students-tab" data-toggle="tab" href="#nav-students" role="tab" aria-controls="nav-students" aria-selected="true">Студенты</a>
    <a class="nav-link" id="nav-teachers-tab" data-toggle="tab" href="#nav-teachers" role="tab" aria-controls="nav-teachers" aria-selected="false">Преподаватели</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-students" role="tabpanel" aria-labelledby="nav-students-tab">
        @await Html.PartialAsync("AddStudents", Model.AddStudentViewModel)
    </div>
    <div class="tab-pane fade" id="nav-teachers" role="tabpanel" aria-labelledby="nav-teachers-tab">
        @await Html.PartialAsync("AddTeachers")
    </div>
</div>