@{ Layout = "_IdentityLayout"; }

<div class="col-sm-6 mx-auto card-body">
    <h5 class="card-title">Подтверждение регистрации</h5>
    <p>Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме. <a asp-action="Login">Перейти к авторизации.</a></p>
</div>