@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
    Layout = "_IdentityLayout";
}

<div class="col-sm-6 mx-auto card-body">
    <h5 class="card-title">Для сброса пароля введите Email.</h5>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="ForgotPassword" asp-controller="Account" asp-area="Authorization" method="post">
        <div class="form-group">
            <div><span asp-validation-for="Email" class="text-danger"></span></div>
            <input placeholder="Email" asp-for="Email" class="form-control" />
        </div>
        <a asp-action="Login">Назад</a>
        <button class="btn btn-primary float-sm-right" type="submit">Отправить</button>
    </form>
</div>