@{
    ViewData["Title"] = "Сброс пароля";
    Layout = "_IdentityLayout";
}

<div class="col-sm-6 mx-auto card-body">
    <h5 class="card-title">Сброс пароля</h5>
    <p> Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.</p>
</div>