@{ Layout = null; }

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" asp-href-include="/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/all.min.css" />
    <title>Ошибка</title>
</head>

<body style="height: 100%;" class="bg-light">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm mx-auto card-body">
                <h1 class="card-title text-danger"><i class="fas fa-exclamation-circle"></i> При изменении пароля произошла ошибка. Попробуйте еще раз. Перенаправление произойдет через 5 секунд...</h5>
            </div>
        </div>
    </div>
</body>

</html>

<script defer>
    setTimeout(function () {
        window.location.href = '@Url.ActionLink("BackRedirect", "Account", new { area = "Authorization" })';
    }, 5000);
</script>