@model RegistrationViewModel;
@{
    ViewData["Title"] = "Регистрация";
    Layout = "_IdentityLayout";
}

<div class="col-sm-6 mx-auto card-body">
    <h5 class="card-title">Регистрация</h5>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form enctype="multipart/form-data" asp-action="Registration" asp-controller="Account" asp-area="Authorization" method="post">
        <div class="form-group">
            <div><span asp-validation-for="Email" class="text-danger"></span></div>
            <input placeholder="Email" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input placeholder="Пароль" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
            <input placeholder="Подтверждение пароля" asp-for="ConfirmPassword" class="form-control" />
        </div>
        <div class="form-group">
            <div><span asp-validation-for="UserName" class="text-danger"></span></div>
            <input placeholder="Название компании" asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Photo"></label>
            <div><span asp-validation-for="Photo" class="text-danger"></span></div>
            <input asp-for="Photo" type="file" class="form-control" />
        </div>  
        <a asp-action="Login">Авторизация</a>
        <button class="btn btn-primary float-sm-right" type="submit">Регистрация</button>
    </form>
</div>