@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
    Layout = "_IdentityLayout";
}

<div class="col-sm-6 mx-auto card-body">
    <h5 class="card-title">Для сброса пароля введите Email.</h5>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="ResetPassword" asp-controller="Account" asp-area="Authorization" method="post">
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
            <div><span asp-validation-for="Email" class="text-danger"></span></div>
            <input placeholder="Email" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input placeholder="Новый пароль" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
            <input placeholder="Подтверждение пароля" asp-for="ConfirmPassword" class="form-control" />
        </div>
        <button class="btn btn-primary float-sm-right" type="submit">Сбросить</button>
    </form>
</div>