@{
    ViewData["Title"] = "Сброс пароля";
    Layout = "_IdentityLayout";
}

<div class="col-sm-6 mx-auto card-body">
    <h5 class="card-title">Подтверждение сброса пароля</h5>
    <p>Ваш пароль успешно сброшен. <a asp-action="Login">Перейти к авторизации.</a></p>
</div>